#about-us {

  float: right;
  margin-left: 0.6cm;
  margin-right: 0.2cm;
  margin-top: 0.3cm;
  
}
#contact-us {
  float: right;
  margin-left: 0.6cm;
  margin-top: 0.3cm;
}

nav {
  background-color:black;
  justify-content: right;
  margin-top: 0cm;
  padding-bottom: 1.5cm;
  position: fixed;
  width:100%;
}

.landin-page {
  position: relative;
  width: 200%;
  
}

/* Make the image responsive */
.landing-page img {
  margin-top: 2.5cm;
  width: 100%;
  margin-top: 2.2cm;

}

/* Style the button and place it in the middle of the container/image */
.landing-page .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  
  background-color: yellow;
  color: black;
  font-size: 16px;
  padding: 25px 30px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  scroll-behavior: smooth;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.crust {
  margin-top: 2cm;
  padding: 1%;
  margin-left: 2cm;
  margin-bottom: 2cm;
  border-radius: 15px;
}
.size {
  margin-left: 2cm;
  padding: 1%;
  border-radius: 15px;
}

.container .btn:hover {
  background-color:white;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
#footer {
  background-color: teal;
}
h2 {text-align: center;}

#delivery {
  margin-top: 1.5cm;
  margin-bottom: 0.8cm;
}
#form-delivery {
  display: none;
}

#size {
  padding-right: 10cm;
  padding-top: 0.8cm;
  margin-left: 0.5cm;
  margin-bottom: 0.5cm;
}
#topping {
  padding-right: 10cm;
  padding-top: 0.8cm;
  margin-left: 0.5cm;
  margin-bottom: 0.5cm;
}
#crust {
  padding-right: 10cm;
  padding-top: 0.8cm;
  margin-left: 0.5cm;
  margin-bottom: 0.5cm;
}
#proceed {
  margin-left: 0.5cm;
  margin-bottom: 0.5cm;
}
#brand {
  position: absolute;
}
#navigation {
  position:relative,fixed
  
}
#brand {
  position: absolute;
}
#who {
  background-color: black;
  color: white;
  border-radius: 1cm;
  
  
  
}
#about-image {
  margin-left: 1cm;
  border-radius: 0.8cm;
}
#who p {
  font-family: 'Frank Ruhl Libre', serif;
  
  font-size: 25px
}
